.about {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px;
}

.h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 1700;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
}

.about__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #1a2236;
  padding-left: 20px;
  padding-right: 20px;
}

.all {
  padding: 0;
}

.button__getCV {
  width: 300px;
  height: 70px;
  left: 16px;
  top: 3090px;
  background: #1a2236;
  margin: 20px;
}

.downlaodIcon {
  height: 50px;
}

.languages {
  background: #1c528a;
}

.frameworks {
  background: #e2505c;
}

.skills {
  background: #febf52;
}

.about__ul {
  list-style-type: disc;
}

.about__li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 60px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.icons {
  display: flex;
  flex-direction: column-reverse;
}

.about__icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}

.pound__logo,
.idea__logo,
.square__logo {
  height: 200px;
  width: 226px;
  text-align: right;
}
