.contact {
  background: #f9f9fa;
}

.contact__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  padding: 20px;
}

.contact__form {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px;
}

.name {
  height: 50px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

.email {
  height: 50px;
  background: #fff;
  border: 1px solid #1a2236;
  border-radius: 4px;
}

.message {
  height: 100px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

::placeholder {
  position: absolute;
}

.contact__button {
  height: 70px;
  left: 16px;
  top: 3090px;
  background: #1a2236;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.contact__button:hover {
  background-color: #fff;
  color: #1a2236;
}

@media only screen and (max-width: 768px) {
  .contact__image__right,
  .contact__image__left {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .contact {
    display: flex;
  }

  .corner__geometry {
    display: none;
  }

  .contact__image__right {
    align-self: flex-end;
    width: 20%;
  }

  .contact__image__left {
    align-self: flex-start;
    width: 20%;
  }

  .article__form {
    margin: 10vw 5vw;
    display: flex;
    flex-direction: column;
  }

  .contact__h2 {
    font-size: 9vw;
    align-self: center;
    margin: 0;
    padding: 0;
  }

  .contact__text {
    font-size: 2vw;
    line-height: 4vh;
    margin: 5vw 0;
    padding: 0;
    text-align: justify;
  }

  .name {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 7vh;
    width: 90%;
    font-size: 2vw;
  }

  .email {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 7vh;
    width: 90%;
    justify-self: flex-end;
    font-size: 1vw;
  }

  .message {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 15vh;
    font-size: 2vw;
  }

  .contact__button {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
    height: 8vh;
    width: 60%;
    font-size: 3vw;
    line-height: 4vh;
  }
}
