.contact {
  background: #f9f9fa;
}

.contact__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  padding: 20px;
}

.contact__form {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px;
}

.name{
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #DFDFE0;
  border-radius: 4px;
}

.email {
  height: 50px;
  background: #FFFFFF;
border: 1px solid #1A2236;
border-radius: 4px;
}

.message {
  height: 100px;
  background: #FFFFFF;
border: 1px solid #DFDFE0;
border-radius: 4px;
}

::placeholder{
  position: absolute;
}

.contact__button {
  height: 70px;
  left: 16px;
  top: 3090px;
  background: #1a2236;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.contact__button:hover{
  background-color:#fff;
  color: #1a2236 ;
}
