.footer__button {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  border: 0;
  width: 100%;
  margin-left: 20px;
}

.social {
  width: 6vw;
}

.socials {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  align-items: baseline;
  margin-bottom: 80px;
}

.footer__button__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 5vw;
  color: #92dcdc;
}

.footer__button__image {
  margin-left: 3vw;
  align-items: center;
  text-align: center;
  align-self: center;
  height: 5vw;
}

.animation {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.footer {
  background: #1a2236;
}

@media only screen and (max-width: 769px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) {
  .footer {
    display: flex;
    height: 5%;
    padding: 0 5vw;
  }

  .footer__button {
    margin-left: 20px;
    width: 30%;
  }

  .footer__button__text {
    font-weight: 500;
    font-size: 1vw;
    line-height: 5vw;
    align-self: center;
  }

  .footer__button__image {
    margin-left: 1vw;
    align-self: center;
    height: 2vw;
  }

  .socials {
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
  }

  .social {
    width: 2vw;
    padding: 0 1vw;
  }
}
