.footer {
  background: #1a2236;
  display: flex;
  flex-direction: column;
}

.footer__button {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  border: 0;
  width: 100%;
  margin-left: 20px;
}

.social{
  width:6vw;

  
}

.socials {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  align-items: baseline;
  margin-bottom: 80px;
}

.footer__button__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 5vw;
  color: #92dcdc;
}

.footer__button__image {
  margin-left: 3vw;
  align-items: center;
  height: 100%;
  text-align: center;
  align-items: center;
  align-self: center;
  height: 5vw;
}
