html,
body {
  height: 100%;
}

.position__nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  box-shadow: #edf0ef 1px 1px 1px 1px;
}

.toolbar__open {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.toolbar__open__row1 {
  grid-row: 1/2;
}

.toolbar__open__row2 {
  grid-row: 2/3;
  grid-column: 1/3;
  justify-self: end;
  margin: 0 20%;
}

.toolbar__open__row3 {
  grid-row: 3/4;
  grid-column: 1/3;
  justify-self: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 2.8vh;
  line-height: 300%;
  color: #000;
}

.toolbar__open__row4 {
  grid-row: 4/5;
  grid-column: 1/3;
  width: 100%;
}

.corner__geometry {
  margin: 0;
}

.menu__button__align {
  justify-self: end;
}

.nav__icon {
  width: 20px;
  height: 2px;
}

#hamburger {
  margin: 0;
  padding: 15px 20px 0 0;
  background-color: #fff;
  border: 0;
  font-size: xx-large;
}

.cross {
  width: 4vh;
}

.opened__menu {
  display: none;
}

.main {
  margin: 11vh 0 0 0;
}

.main__pop {
  background: rgba(26, 34, 54, 0.95);
  backdrop-filter: blur(12px);
}

.text__article {
  height: 45vh;
  display: flex;
  flex-direction: column;
}

.text {
  margin-left: 30px;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 7vh;
  color: #1a2236;
  margin: 0;
}

.bio {
  width: 95%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vh;
  line-height: 3vh;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.btn {
  box-sizing: border-box;
  height: 10vh;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4vh;
  line-height: 27px;
  color: #fff;
  margin: 5vh 4vw;
}

#geometry {
  width: 100%;
}

ul {
  list-style-type: none;
}

.buttons:hover {
  background-color: #fff;
  color: #1a2236;
}

a {
  text-decoration: none;
}

.h2 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10vw;
  line-height: 100%;
  color: #1a2236;
  padding-left: 20px;
}

.project__title {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 8vw;
  color: #fff;
}

.project__stack {
  width: 22vw;
  height: 4vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 3vw;
  line-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #98dede;
  box-shadow: #a1a8ff 1px 1px 1px 1px;
}

.project__button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  text-align: left;
  background-color: transparent;
  color: #fff;
  border: white solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project__info {
  background: #0a132a;
  opacity: 0.9;
}

.project__stack__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 2vh;
}

.one__stacks {
  width: 45%;
}

.nav__desktoplink {
  color: #000;
  font-weight: 400;
}

.project__button__holder {
  display: flex;
  justify-content: start;
  margin: 0 0 2vh;
}

.arrow {
  width: 40.57px;
  height: 27.35px;
}

.about {
  display: grid;
}

.portfolio__PopUP {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
}

.about__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 4vh;
  color: #1a2236;
  padding-left: 20px;
  padding-right: 20px;
}

.all {
  padding: 0;
}

.button__getCV {
  width: 60%;
  height: 7vh;
  left: 16px;
  top: 3090px;
  background: #1a2236;
  margin: 20px;
}

.downlaodIcon {
  height: 5vh;
  width: 100%;
}

.languages {
  background: #1c528a;
}

.frameworks {
  background: #e2505c;
}

.skills {
  background: #febf52;
}

.about__ul {
  list-style-type: disc;
  padding-left: 4vw;
}

.about__li {
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  margin: 0 5vw;
  line-height: 60px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.icons {
  display: flex;
  flex-direction: column-reverse;
}

.about__icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}

.pound__logo,
.idea__logo,
.square__logo {
  height: 200px;
  width: 226px;
  text-align: right;
}

.contact {
  background: #f9f9fa;
}

.contact__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  padding: 20px;
}

.contact__form {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}

.error {
  justify-self: center;
  text-align: center;
  width: 100%;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3vh;
  line-height: 4vh;
  color: red;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

.name {
  height: 50px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

.email {
  height: 50px;
  background: #fff;
  border: 1px solid #1a2236;
  border-radius: 4px;
}

.message {
  height: 100px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

::placeholder {
  position: absolute;
}

.contact__button {
  height: 70px;
  left: 16px;
  top: 3090px;
  background: #1a2236;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.contact__button:hover {
  background-color: #fff;
  color: #1a2236;
}

.footer__button {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 0;
  height: 5vh;
  width: 50vw;
}

.social {
  width: 6vw;
}

.socials {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: baseline;
  margin: 0;
}

.footer__button__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 5vw;
  color: #92dcdc;
}

.footer__button__image {
  margin-left: 3vw;
  align-items: center;
  text-align: center;
  align-self: center;
  height: 5vw;
}

.animation {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.footer {
  background: #1a2236;
}

.pop__images {
  grid-row: 3/4;
  grid-column: 1/7;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}

.big__image {
  width: 100%;
  grid-column: 1/5;
  grid-row: 1/2;
}

.small__image {
  width: 100%;
  grid-row: 2/3;
}

.material-symbols-outlined {
  font-size: 12vw;
  color: #0005;
}

.pop__images__nav {
  grid-row: 1/2;
  width: 30%;
  height: 20vh;
  background-color: transparent;
  border: 0;
  font-size: 8vh;
  color: #fff;
}

.pop__images__nav:hover {
  color: #1a2236;
}

.pop__images__left {
  grid-column: 1/3;
  z-index: 1;
  justify-self: start;
  align-self: center;
}

.pop__images__right {
  grid-column: 3/5;
  z-index: 1;
  justify-self: end;
  align-self: center;
}

#cross__project {
  grid-row: 1/2;
  grid-column: 6/7;
  border: 0;
  background: transparent;
  align-self: center;
  justify-self: center;
}

.pop__title {
  grid-row: 1/2;
  grid-column: 1/4;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4vw;
  line-height: 80%;
  color: #1a2236;
  margin: 20px 0;
}

.stack__popUp {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 1vh 0 2vh;
}

.pop__stack__element {
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.3vh;
  width: 12vw;
  line-height: 4vh;
  margin-right: 2vw;
  text-align: center;
}

.text__pop__one {
  grid-row: 4/5;
  grid-column: 1/7;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 27px;
  color: #1a2236;
  margin: 3vh 20% 0;
}

.text__pop__two {
  grid-row: 5/6;
  grid-column: 1/7;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 27px;
  color: #1a2236;
  margin: 3vh 20%;
}

.pop__info__buttons {
  grid-row: 6/7;
  grid-column: 1/5;
  display: flex;
  align-items: baseline;
  margin: 0 0 0 25%;
}

.navigation__buttons {
  grid-row: 7/8;
  grid-column: 1/6;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 10vh 0 10vh 22%;
}

.see__pop {
  width: 20vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  line-height: 4vh;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  margin: 0 2vw 0 0;
}

.nav__pop__down {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2vh;
  line-height: 4vh;
  width: 17vw;
  display: flex;
  justify-content: space-between;
  border: 0;
  align-items: center;
}

.buttons__inverse {
  background-color: #fff;
  color: #1a2236;
}

.buttons__inverse:hover {
  color: #fff;
  background-color: #1a2236;
}

.select__image {
  border: 2px solid #1a2236;
  z-index: 1;
}

@media only screen and (max-width: 769px) {
  .mobile__visible {
    display: block;
  }

  .mobile__invisible {
    display: none;
  }

  .mobile__navigation {
    display: none;
  }

  #desktop__geometry {
    display: none;
  }

  .headline {
    height: 88%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 550px;
  }

  .hello__dots {
    display: none;
  }

  .works {
    display: grid;
    grid-template-columns: 100%;
  }

  .desktop__arrow {
    display: none;
  }

  .project__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 0 10vw;
  }

  .portfolio {
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5px);
  }

  .project__photo {
    width: 100%;
  }

  .portofolio__topLeft__dots {
    display: none;
  }

  .deco__right {
    display: none;
  }

  .deco__middle {
    display: none;
  }

  .deco__bottomLeftTop {
    display: none;
  }

  .deco__bottomLeft {
    display: none;
  }

  .about__deco {
    display: none;
  }

  .button__getCV {
    width: 90%;
    height: 7vh;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10vw;
  }

  .contact__image__right,
  .contact__image__left {
    display: none;
  }

  label {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 2vh 8vw;
  }

  .portfolio__PopUP {
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
  }

  #cross__project {
    grid-column: 1/2;
    justify-self: end;
  }

  .pop__title {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 6.4vw;
    line-height: 6vh;
    margin: 0;
  }

  .icon {
    color: inherit;
    font-size: inherit;
  }

  .arrow {
    align-self: baseline;
    font-size: 11vw;
  }

  .stack__popUp {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .pop__images {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .text__pop__one {
    grid-column: 1/2;
    grid-row: 5/6;
    margin: 3vh 0 4vh 0;
    font-size: 3.5vw;
  }

  .see__pop {
    width: 100%;
    height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    margin: 1.5vh 0;
  }

  .text__pop__two {
    grid-column: 1/2;
    grid-row: 6/7;
    margin: 0;
    font-size: 3.5vw;
  }

  .pop__stack__element {
    width: 23vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    line-height: 5vh;
    margin-right: 0;
  }

  .nav__pop__down {
    display: none;
  }

  .pop__info__buttons {
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 7/8;
    margin: 0 10vw;
  }
}

@media only screen and (min-width: 769px) {
  .toolbar__open {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
  }

  .toolbar,
  .toolbar__open {
    box-shadow: 0 0.5px 0 #dddfe6;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    height: 10vh;
    align-content: center;
  }

  .mobile__header {
    display: none;
  }

  .mobile__photos {
    display: none;
  }

  .desktop__header {
    display: flex;
    justify-content: space-between;
    grid-column: 2/3;
  }

  .header__navication {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 24px;
    color: #1a2236;
  }

  #geometry {
    display: none;
  }

  .title {
    font-size: 6vw;
  }

  .bio {
    width: 60%;
    font-size: 1vw;
    line-height: 3vh;
    letter-spacing: -0.01em;
  }

  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 50% 10% 20%;
    margin-bottom: 15%;
  }

  .text__article {
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: center;
    justify-content: center;
  }

  .btn {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    width: 40%;
    height: 100%;
    margin: 0 0 0 20%;
    font-size: 1.5vw;
  }

  .hello__dots {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: end;
    align-self: flex-end;
    height: 100%;
  }

  #desktop__geometry {
    grid-column: 2/3;
    grid-row: 1/5;
    width: 100%;
  }

  .nav__desktoplink {
    transition: all 0.5s ease-out;
    color: #1a2236;
  }

  .nav__desktoplink:hover,
  .nav__desktoplink:focus {
    font-size: 130%;
    color: hsl(223, 63%, 65%);
  }

  .desktop__arrow {
    height: 60%;
  }

  .project__info {
    grid-row: 2/4;
    grid-column: 1/2;
    display: none;
  }

  .hover__one {
    position: relative;
    top: 0;
    padding: 0 5vw;
  }

  .hover__one h3 {
    font-size: 5vw;
  }

  .hover__one ul li {
    width: 20%;
    height: 2em;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 80%;
  }

  .hover__two {
    position: relative;
    top: -3vh;
    height: auto;
    padding: 0 2vw;
  }

  .hover__two h3 {
    font-size: 2.5vw;
  }

  .hover__two ul li {
    width: 25%;
    height: 2em;
    font-weight: 300;
    font-size: 1vw;
  }

  .hover__two div button {
    height: 4vh;
  }

  .hover__three {
    position: relative;
    top: -3vh;
    height: auto;
    padding: 0 2vw;
  }

  .hover__three h3 {
    font-size: 2.5vw;
  }

  .hover__three ul li {
    width: 25%;
    height: 2em;
    font-weight: 300;
    font-size: 1vw;
  }

  .hover__three div button {
    height: 4vh;
  }

  .hover__four {
    position: relative;
    top: 0;
    height: auto;
    padding: 0 4vw;
  }

  .hover__four h3 {
    font-size: 5vw;
  }

  .hover__four ul li {
    width: 25%;
    height: 2.5em;
    font-weight: 300;
    font-size: 1.5vw;
  }

  .hover__four div button {
    height: 6vh;
  }

  .hover__five {
    position: relative;
    height: auto;
    padding: 0 2vw;
  }

  .hover__five h3 {
    font-size: 2.5vw;
  }

  .hover__five ul li {
    width: 25%;
    height: 2em;
    font-weight: 300;
    font-size: 1vw;
  }

  .hover__five div button {
    height: 4vh;
  }

  .hover__six {
    position: relative;
    height: auto;
    padding: 0 2vw;
  }

  .hover__six h3 {
    font-size: 2.5vw;
  }

  .hover__six ul li {
    width: 25%;
    height: 2em;
    font-weight: 300;
    font-size: 1vw;
  }

  .hover__six div button {
    height: 4vh;
  }

  .project__info:hover {
    display: block;
  }

  .project__button {
    width: 18vw;
    height: 6vh;
    font-size: 1.4vw;
    line-height: 3vw;
    justify-content: space-evenly;
    background: #fff;
    color: #000;
    display: flex;
  }

  .arrow {
    display: flex;
    align-items: center;
  }

  .works {
    display: grid;
    grid-template-columns: 8% 8% 16% 25% 11% 6% 13% 13%;
    grid-template-rows: repeat(10, auto);
    width: 100%;
  }

  .portfolio__deco {
    width: 100px;
  }

  .portfolio__hearder {
    transform: rotate(-90deg);
    grid-column: 1/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    font-size: 5vw;
    padding-left: 0;
  }

  .portofolio__topLeft__dots {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
  }

  .deco__right {
    grid-row: 7/9;
    grid-column: 5/9;
    width: 100%;
    height: 100%;
  }

  .deco__middle {
    grid-row: 3/6;
    grid-column: 4/6;
    width: 100%;
  }

  .deco__bottomLeftTop {
    grid-column: 4/5;
    grid-row: 9/10;
    justify-self: end;
    height: 12vh;
  }

  .deco__bottomLeft {
    grid-column: 1/2;
    grid-row: 9/10;
    width: 14vw;
  }

  .portfolio {
    display: grid;
    grid-template-rows: repeat(3, auto);
  }

  .project__one {
    grid-column: 4/9;
    grid-row: 1/3;
    height: 100%;
  }

  .project__photo {
    grid-row: 1/4;
    grid-column: 1/2;
    width: 100%;
  }

  .project__onePhoto:hover + .hover__one {
    display: block;
  }

  .project__twoPhoto:hover + .hover__two {
    display: block;
  }

  .project__threePhoto:hover + .hover__three {
    display: block;
  }

  .project__fourPhoto:hover + .hover__four {
    display: block;
  }

  .project__fivePhoto:hover + .hover__five {
    display: block;
  }

  .project__sixPhoto:hover + .hover__six {
    display: block;
  }

  .project__two {
    grid-column: 1/4;
    grid-row: 3/6;
  }

  .project__three {
    grid-row: 4/8;
    grid-column: 6/9;
  }

  .project__four {
    grid-row: 6/9;
    grid-column: 1/5;
  }

  .project__five {
    grid-row: 9/11;
    grid-column: 5/8;
  }

  .project__six {
    grid-row: 3/4;
    grid-column: 6/9;
  }

  .project6__title {
    font-size: 2vw;
  }

  .project6__stack {
    font-size: 0.8vw;
  }

  .desktop__project__photo__one {
    max-width: 100%;
  }

  .portfolio__PopUP {
    width: fit-content;
    height: 100%;
    padding: 0 40px;
    border: 20px solid rgba(26, 34, 54, 0.95);
    box-shadow: 0 10px 20px rgb(0 0 0 / 25%);
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(7, auto);
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    grid-gap: 10px;
    margin: 15% 5vw;
  }

  .about__ul {
    padding-left: 1vw;
  }

  .about__article {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 20%;
  }

  .about__text {
    font-size: 1.2vw;
    line-height: 4vh;
    color: #1a2236;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button__getCV {
    color: #fff;
    font-size: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    color: inherit;
    font-size: 2vw;
  }

  .all {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .languages {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .frameworks {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .skills {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .about__deco {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
    justify-self: end;
    width: 76%;
  }

  .about__lists {
    width: 100%;
  }

  .h3 {
    font-size: 2vw;
    line-height: 60px;
    padding-left: 3vw;
  }

  .about__li {
    font-size: 1.5vw;
    line-height: 4vh;
    letter-spacing: -0.0525em;
    color: #fff;
  }

  .pound__logo,
  .idea__logo,
  .square__logo {
    height: 30%;
    width: 30%;
    text-align: right;
  }

  .about__h2 {
    font-size: 7vw;
  }

  .contact {
    display: flex;
  }

  .corner__geometry {
    display: none;
  }

  .contact__image__right {
    align-self: flex-end;
    width: 20%;
  }

  .contact__image__left {
    align-self: flex-start;
    width: 20%;
  }

  .article__form {
    margin: 10vw 5vw;
    display: flex;
    flex-direction: column;
  }

  .contact__h2 {
    font-size: 9vw;
    align-self: center;
    margin: 0;
    padding: 0;
  }

  .contact__text {
    font-size: 2vw;
    line-height: 4vh;
    margin: 5vw 0;
    padding: 0;
    text-align: justify;
  }

  .contact__form {
    grid-template-columns: 50% 50%;
  }

  .label__name {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .name {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 7vh;
    font-size: 2vw;
  }

  .label__email {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .email {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 7vh;
    font-size: 2vw;
  }

  .label__message {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .message {
    grid-column: 1/3;
    grid-row: 4/5;
    height: 15vh;
    font-size: 2vw;
  }

  .error {
    grid-row: 5/6;
    grid-column: 1/3;
  }

  .contact__button {
    grid-column: 1/3;
    grid-row: 6/7;
    justify-self: center;
    height: 8vh;
    width: 60%;
    font-size: 3vw;
    line-height: 4vh;
  }

  .red__colour {
    font-size: 1.5vw;
    color: red;
  }

  label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2vh;
    color: #7d7c84;
  }

  .footer {
    display: flex;
    height: 5%;
    padding: 2vh 2vw 1vh;
  }

  .footer__button {
    margin-left: 20px;
    width: 30%;
  }

  .footer__button__text {
    font-weight: 500;
    font-size: 1vw;
    line-height: 5vw;
    align-self: center;
  }

  .footer__button__image {
    margin-left: 1vw;
    align-self: center;
    height: 2vw;
  }

  .socials {
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
  }

  .social {
    width: 2vw;
    padding: 0 1vw;
  }
}

@media only screen and (max-width: 376px) {
  .text__article {
    height: 40vh;
  }
}

.pop__hide {
  display: none;
}
