.toolbar {
  height: 100px;
  background: #fff;
  box-shadow: 0 1px 0 #dddfe6;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav {
  width: 109px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

.headline {
  display: flex;
  justify-content: left;
}

.text {
  margin-left: 60px;
}

.main__article {
  display: flex;
  flex-direction: column;
}

.title {
  height: 220px;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  color: #1a2236;
}

.bio {
  width: 484px;
  height: 84px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.btn {
  box-sizing: border-box;
  width: 254px;
  height: 70px;
  left: 160px;
  top: 715px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;
}

.dots__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.dots {
  width: 175px;
  height: 275px;
  margin-top: 40px;
}

.geometry {
  width: 702px;
  height: 877px;
}
